.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,.5);
  transition: visibility .2s, opacity .4s ease-in-out;
}