.profile__avatar-edit {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 127px;
  height: auto;
  margin-right: 25px;
  cursor: pointer;
  position:relative;
  display: flex;
}

.profile__avatar-edit::before {
  content: "";
  background-color: rgba(0, 0, 0, .8);
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 130px;
  width: 130px;
  position: absolute;
  left: -1px;
  top: -1px;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.profile__avatar-edit::after {
  background: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50px;
  left: 50px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  content: '';
  display: block;
}

.profile__avatar-edit:hover::after {
  opacity: 1;
}

.profile__avatar-edit:hover::before {
  opacity: 1;
}

@media screen and (max-width: 767px){
.profile__avatar-edit {
  margin-bottom: 22px;
  margin-right: 0;
  }
}