.header {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    margin: 0 0 42px;
    padding: 28px 0 32px 27px;
  }
}