.cards__text {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: flex-start;
}