.cards__text {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  max-width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}