.footer {
  max-width: 880px;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}