.profile__avatar {
  height: 127px;
  width: 127px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767px){
  .profile__avatar {
    height: 120px;
    width: 122px;
    padding: 4px 3px;
    margin: 0 auto;
  }
}