.profile__avatar-edit {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 128px;
  width: 128px;
  margin-right: 26px;
  margin-bottom: 7px;
}

@media screen and (max-width: 767px){
.profile__avatar-edit {
  margin-bottom: 22px;
  margin-right: 0;
}