.profile__avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  object-fit: cover;
  padding: 4px 0;
}

@media screen and (max-width: 767px){
  .profile__avatar {
    height: 120px;
    width: 122px;
    padding: 4px 3px;
    margin: 0 auto;
  }
}